@charset "UTF-8";
/*FONTS STYLE */
@font-face { font-family: Roboto; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url(fonts/RobotoLight.woff2) format("woff2"), url(fonts/RobotoLight.woff); }
@font-face { font-family: Montserrat; font-style: normal; font-weight: bold; src: local("Montserrat-Bold"), local("MontserratBold"), url(fonts/Montserrat-Bold.woff2) format("woff2"), url(fonts/Montserrat-Bold.woff); }
@font-face { font-family: Montserrat; font-style: normal; font-weight: normal; src: local("Montserrat-Regular"), local("MontserratRegular"), url(fonts/Montserrat-Regular.woff2) format("woff2"), url(fonts/Montserrat-Regular.woff); }
/*MAIN STYLE */
body { background-color: #fff; font: 300 14px "Roboto"; color: #8f8f8f; line-height: 20px; }

a { color: #8f8f8f; text-decoration: none; }
a:hover { color: #333333; }

.wrapper { width: 100%; margin: 0; }

.container { width: 940px; margin: 0 auto; box-sizing: border-box; }

.clearfix { clear: both; }

section:after, footer:after { content: ""; clear: both; height: 0; display: block; }

.show-cell { display: table-cell !important; }

.hide { display: none !important; }

.ie-not-support, .nojs__table { text-align: center; }

.nojs__table { color: #1a1915; font-size: 20px; border: 5px solid #ff4e50; padding: 10px; line-height: 30px; }

/*HEADER STYLE */
.header { background: #1a1915 url(img/header-bg.jpg) no-repeat center; background-size: cover; height: 700px; color: #fff; }

.header__top { height: 36px; position: relative; top: 38px; }

.header__top__logo, .header__top__btn, .header__middle__btn { color: #fff; display: inline-block; }

.header__top__logo { font: bold 20px/36px "Montserrat"; float: left; }
.header__top__logo:active { color: #1a1915; }

.header__top__btn { height: 36px; float: right; font: bold 14px/36px "Montserrat"; }
.header__top__btn:active { color: #1a1915; }

.header__top__btn.signUp { width: 90px; height: 36px; border: solid 2px #fff; border-radius: 18px; background-color: transparent; box-sizing: border-box; text-align: center; margin-left: 20px; line-height: 32px; }
.header__top__btn.signUp:hover { background-color: #1a1915; color: #fff; }
.header__top__btn.signUp:active { background-color: #333333; }

.header__middle { text-align: center; margin-top: 179px; }

.header__middle__h1 { width: 500px; font: bold 52px/64px "Montserrat"; text-transform: uppercase; margin: 0; display: inline-block; }

.header__middle__h2 { font: 300 24px/36px "Roboto"; margin: 16px 0 30px; }

.header__middle__btn { width: 225px; height: 40px; border-radius: 20px; background-color: #ff4e50; font: bold 14px/40px "Montserrat"; }
.header__middle__btn:active { color: #fff; }

/*CONTENT STYLE */
.steps, .partners, .ideas, .search { padding-top: 95px; }

.steps__h3, .partners__h3, .ideas__h3, .search__h3 { color: #1a1915; margin: 0 0 32px 0; font: bold 22px "Montserrat"; text-align: center; }

.steps__blocks { width: 300px; height: 400px; float: left; background-color: #ff8523; margin-right: 20px; border-radius: 4px; padding: 0 20px; box-sizing: border-box; color: #fff; background-position: center; overflow: hidden; }
.steps__blocks:last-child { margin-right: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { .steps__blocks *::-moz-selection { background: rgba(255, 255, 255, 0); } .steps__blocks *::selection { background: rgba(255, 255, 255, 0); }
  .steps__blocks::-moz-selection { background: rgba(255, 255, 255, 0); }
  .steps__blocks::selection { background: rgba(255, 255, 255, 0); } }
.step1 { background-image: url(img/step1.jpg); }

.step2 { background-image: url(img/step2.jpg); }

.step3 { background-image: url(img/step3.jpg); }

.steps__blocks__arrows { margin-top: 153px; }

.steps__blocks__left__arrow, .steps__blocks__right__arrow { width: 30px; height: 55px; display: inline-block; cursor: pointer; }
.steps__blocks__left__arrow:hover, .steps__blocks__right__arrow:hover { opacity: 0.8; }
.steps__blocks__left__arrow:active, .steps__blocks__right__arrow:active { opacity: 1; }

.steps__blocks__left__arrow, .steps__blocks__right__arrow { background: url(img/sprite.png); }

.steps__blocks__left__arrow { background-position: 0 68px; float: left; }

.steps__blocks__right__arrow { background-position: 31px 68px; float: right; }

.info__red__table { width: 70px; height: 20px; border-radius: 10px; background-color: #ff4e50; font: 10px/21px "Montserrat"; text-transform: uppercase; cursor: default; box-sizing: border-box; padding: 0 14px; margin-bottom: 17px; text-align: center; letter-spacing: 1px; }

.info__title { font: bold 24px/27px "Montserrat"; }

.info__desription { color: #acaaa8; display: block; line-height: 17px; margin-top: 10px; }

.partners__wrapper { overflow: hidden; margin-bottom: 35px; }

.partners__blocks { width: 220px; float: left; text-align: center; margin-right: 20px; position: relative; }
.partners__blocks:last-child { margin-right: 0; }

.partners__block__ava { width: 120px; height: 120px; border-radius: 60px; background-color: #1a1915; display: inline-block; }

.ava__elipse { width: 40px; height: 40px; border-radius: 20px; border: solid 4px #fff; position: absolute; top: 85px; right: 46px; box-sizing: border-box; padding: 7px 7px 7px 8px; }
.ava__elipse.red { background-color: #ff4e50; }
.ava__elipse.green { background-color: #1cd7ad; }
.ava__elipse.yellow { background-color: #ffa507; }
.ava__elipse.blue { background-color: #4e73db; padding-left: 7px; }

.ava__elipse__icon { width: 16px; height: 16px; background: url(img/sprite.png) no-repeat; }
.ava__elipse__icon.cup { background-position: 0 -17px; }
.ava__elipse__icon.bulb { background-position: 1px -32px; height: 18px; }
.ava__elipse__icon.plane { background-position: -1px -49px; width: 18px; height: 17px; }

.partners__block__title { font: bold 14px "Montserrat"; display: block; color: #333333; margin-top: 14px; margin-bottom: 13px; }

.partners__block__description { display: inline-block; line-height: 16px; }

.partners__btn { width: 192px; height: 40px; border-radius: 20px; background-color: #fff; border: 2px solid #ff4e50; font: bold 14px/36px "Montserrat"; color: #ff4e50; display: block; text-align: center; margin: 0 auto; box-sizing: border-box; }
.partners__btn:active { color: #ff4e50; }

.square__block, .rectangle__block { height: 310px; border-radius: 4px; float: left; font: bold 22px "Montserrat"; color: #fff; background-color: #1a1915; text-align: center; }

.square__block { width: 300px; margin: 0 20px 20px 0; background-color: #1a1915; }
.square__block:last-child { margin: 0 0 0 20px; }
.square__block.bg1 { background-image: url("img/ideas_bg1.jpg"); }
.square__block.bg2 { background-image: url("img/ideas_bg2.jpg"); }
.square__block.bg3 { background-image: url("img/ideas_bg3.jpg"); }
.square__block.bg4 { background-image: url("img/ideas_bg4.jpg"); }
.square__block.bg7 { background-image: url("img/ideas_bg7.jpg"); }

.square__block__text, .rectangle__block__text { width: inherit; height: inherit; display: table-cell; vertical-align: middle; padding: 0 15px; }

.fl__right { float: right !important; }

.no__rg__margin { margin-right: 0 !important; }

.no__bottom__margin { margin-bottom: 0 !important; }

.pad40 { padding: 0 40px; }

.rectangle__block { width: 620px; margin-bottom: 20px; background-position: center; }
.rectangle__block.bg5 { background-image: url("img/ideas_bg5.jpg"); }
.rectangle__block.bg6 { background-image: url("img/ideas_bg6.jpg"); }

.search { text-align: center; }

.search__text { font-size: 18px; color: #333333; margin-bottom: 40px; }

.search__form { display: inline-block; }

.search__input { width: 240px; height: 40px; border-radius: 4px; background-color: #fff; box-shadow: 0 1px #eee; border: solid 1px #ccc; padding: 0 15px; box-sizing: border-box; margin-right: 7px; }

.search__btn { width: 160px; height: 40px; border-radius: 20px; background-color: #ff4e50; color: #fff; font: bold 14px "Montserrat"; padding: 0; }
.search__btn:hover { color: #333333; }
.search__btn:active { padding-left: 2px; }

/*FOOTER STYLE */
.footer { margin-top: 100px; border-top: 4px solid #ff4e50; padding: 36px 0 33px; }

.footer__collum__big, .footer__collum { float: left; }

.footer__collum__big { width: 140px; margin-right: 100px; }

.footer__collum__big__sitelogo { color: #ff4e50; font: bold 16px "Montserrat"; }

.footer__collum { width: 80px; margin-right: 80px; }

.footer__collum__title, .footer__collum__link, .footer__collum__copyright__img { display: block; }

.footer__collum__title { margin-bottom: 10px; color: #333333; font: bold 14px "Montserrat"; }

.footer__collum__link { color: #666666; margin-bottom: 4px; }

.footer__collum__copyright { width: 140px; float: right; text-align: right; position: relative; top: -6px; }

.footer__collum__copyright__text { color: #cccccc; font: bold 10px "Montserrat"; text-transform: uppercase; }

.footer__collum__copyright__img { background: url(img/copyright.png); width: 110px; height: 24px; float: right; margin-top: 7px; -webkit-transition: background-position 0.2s ease-in; transition: background-position 0.2s ease-in; }
.footer__collum__copyright__img:hover { background-position: 0 24px; }
.footer__collum__copyright__img:active { opacity: 0.5; }

/*MEDIA STYLE */
/*TABLETS STYLE */
@media only screen and (max-width: 940px) { .container { width: 748px; }
  .header .container { padding: 0 40px; }
  .footer .container { padding: 0 30px; }
  .steps__blocks { width: 236px; }
  .steps__blocks__arrows { margin-top: 40px; }
  .steps__blocks__info { height: 287px; }
  .partners__wrapper { text-align: center; margin-bottom: -20px; }
  .partners__blocks { display: inline-block; vertical-align: top; float: none; margin: 0 20px 55px 20px; }
  .square__block { width: 236px; }
  .square__block.bg3 { background-position: 100%; }
  .square__block.bg7 { background-position: center; }
  .rectangle__block { width: 492px; }
  .pad40 { padding: 0 20px; }
  .footer__collum__big { margin-right: 84px; } }
/*MOBILE STYLE */
@media only screen and (max-width: 748px) { .container { width: 300px; }
  .header { height: 540px; }
  .header .container { padding: 0 10px; }
  .header__top { text-align: center; top: 30px; }
  .header__top__logo { position: absolute; top: 139px; }
  .header__top__btn { float: none; }
  .header__middle { margin-top: 190px; }
  .header__middle__btn, .partners__btn, .search__btn, .search__input { width: 280px; }
  .header__middle__h1 { font-size: 30px; line-height: 36px; width: 282px; }
  .header__middle__h2 { font-size: 18px; line-height: 22px; margin-top: 8px; margin-bottom: 15px; }
  .header__top__btn { position: relative; left: -113px; }
  .header__top__btn.signUp { left: 46px; }
  .steps, .partners, .ideas, .search { padding-top: 33px; }
  .steps__h3, .partners__h3, .ideas__h3 { margin-bottom: 15px; }
  .steps__blocks { width: 300px; height: 240px; margin-bottom: 10px; margin-right: 0; position: relative; }
  .steps__blocks:last-child { margin-bottom: 0; }
  .steps__blocks__arrows, .steps__blocks__left__arrow, .steps__blocks__right__arrow { position: absolute; }
  .steps__blocks__left__arrow, .steps__blocks__right__arrow { width: 150px; height: 240px; top: -40px; background-image: none; }
  .steps__blocks__left__arrow:active, .steps__blocks__right__arrow:active { background-color: #acaaa8; opacity: 0.3; }
  .steps__blocks__left__arrow { left: -20px; }
  .steps__blocks__right__arrow { left: 130px; }
  .steps__blocks__info { height: 225px; }
  .partners__wrapper { margin-bottom: 3px; }
  .partners__blocks { margin-bottom: 23px; }
  .square__block, .rectangle__block { width: 300px; height: 120px; margin-bottom: 10px; }
  .square__block:last-child { margin: 10px 20px 0 0; }
  .square__block.bg1 { background-position: 0 -30px; }
  .square__block.bg2 { background-position: 0 -127px; }
  .square__block.bg3, .square__block.bg7 { background-position: 0 -50px; }
  .square__block.bg4 { background-position: 0 -117px; }
  .rectangle__block.bg6 { background-position: -118px -31px; }
  .pad40 { padding: 0 40px; }
  .search__h3 { margin-bottom: 0; }
  .search__text { margin: 12px 0 15px; }
  .search__input { margin-right: 0; }
  .search__btn { margin-top: 10px; }
  .footer { margin-top: 40px; padding-top: 16px; text-align: center; padding: 16px 0; }
  .footer__collum__big { margin-bottom: 10px; }
  .footer__collum { margin-bottom: 5px; }
  .footer__collum__big, .footer__collum { width: 240px; float: none; margin-right: 0; display: inline-block; }
  .footer__collum__link, .footer__collum__copyright__img { display: inline-block; }
  .footer__collum__copyright { display: inline-block; float: none; text-align: center; margin-top: 10px; }
  .footer__collum__copyright__img { float: none; }
  .footer__collum__title { margin-bottom: 0; }
  .footer__collum__link { margin-right: 12px; }
  .footer__collum__link:last-child { margin-right: 0; } }
